[Unit]
Description=Daily timer for to run the weather script

[Timer]
Unit=weather.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
